:root{
    --title-text-color:#212121;
    --subtitle-text-color: #757575;
    --accent-text-color: #2196F3;
    --main-title-color: #FFFFFF;
    --background-color-black: #2F303A;
    --activ-button-color: #188CE8;
    --second-accent-color:rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
}
body{
    background-color: var(--main-title-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}

.auto{
    cursor: pointer;
}
.header.current {
    color: var(--accent-text-color);
}
.logo{
    color:var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo>.blue,
.header>.blue,
.blue{
    color:var(--accent-text-color);
    text-decoration: none;
}
.contact:hover,.contact:focus{
    color: var(--accent-text-color);
}
.header{
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
       
}
.header:hover,
.header:focus {
color: var(--accent-text-color);
}
.post-blue{
    color: var(--accent-text-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.post-blue:hover,.post-blue:focus{
    color: var(--accent-text-color);
}
.contact{
    color: var(--subtitle-text-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.hero{
    background-color: var(--background-color-black);
    color: var(--main-title-color);
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.hero .btn{
    background-color: var(--accent-text-color);
    color: var(--main-title-color);
    font-weight: 700;
        font-size: 16px;
        line-height: 1.81;
        letter-spacing: 0.06em;
        font-family: inherit;
}
.hero .btn:focus,
.hero .btn:hover{
    background-color: var(--activ-button-color);
}
.list-title{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
}
.list-text{
    color: var(--subtitle-text-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.main-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}
.main-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.main-desc{
    color: var(--subtitle-text-color);
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
}
.footer{
    background-color: var(--background-color-black);
}
.footer-logo{
    color: var(--main-title-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
}
.footer-address{
    color: var(--main-title-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;
}
.footer-contact{
    color: var(--second-accent-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;
}
.footer-address:focus,.footer-address:hover,.footer-contact:hover,.footer-contact:focus{
    color: var(--accent-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

}
.liste-btn{
    background-color: var(--button-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.61;
        letter-spacing: 0.03em;
        font-family: inherit;
}
.project-subtitle{
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2.11;
        letter-spacing: 0.06em;
        text-decoration: none;
}
.project-copy{
    color: var(--subtitle-text-color);
        font-size: 16px;
        line-height: 1.81;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.liste-btn:hover,
.liste-btn:focus{
    background-color: var(--accent-text-color);
    color: var(--main-title-color);
}
a {
    text-decoration: none;
}